<!DOCTYPE html>
<html lang="FR-fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<title>Devis</title>
	<link rel="stylesheet" type="text/css" href="asset/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="asset/style.css">
	<link rel="icon" type="image/png" href="images/favico.png" sizes="32x32">
</head>
<body class="devis">
	<header>
		<div class="logo">
			<a href="index.html"><img src="images/header_logo.svg"></a>
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li class="current"><a href="devis.html">Devis sur mesure</a></li>
				<li><a href="fichiers-faq.html">Envoi de vos fichiers & F.A.Q</a></li>
				<li><span>Aide &amp; Conseil? <a href="tel:01 42 06 90 02">01 42 06 90 02</a></span> <span>Du lundi au vendredi - 9h00 - 17h00</span></li>
			</ul>
			<ul>
				<li><a href="mon-compte.html"><i class="far fa-user"></i> <span>Mon compte</span></a></li>
				<li><a href="panier.html"><i class="fas fa-shopping-basket"></i> <span>Panier</span></a></li>
				<li><a href="https://par-tage.com/printing/new/backoffice/index.html" target="_blank" title="backoffice"><i class="fas fa-cogs"></i> <span>Panier</span></a></li>
			</ul>
		</nav>
		<div class="menu-toggle">
			<a href="#!">
				<i class="fas fa-bars"></i>
				<i class="fas fa-ellipsis-v"></i>
			</a>
		</div>
	</header>
	<section class="services">
		<div>
			<h2><a href="commande-plan.html">PLAN</a></h2>
		</div>
		<div>
			<h2><a href="commande-memoire-rapport.html">MÉMOIRE & RAPPORT</a></h2>
		</div>
		<div>
			<h2><a href="commande-prochure-livret.html">BROCHURE & LIVRET</a></h2>
		</div>
		<div>
			<h2><a href="commande-affiche.html">AFFICHE</a></h2>
		</div>
		<div>
			<h2><a href="commande-dossier-plan.html">DOSSIER DE PLANS</a></h2>
		</div>		
	</section>
	<main>
		<section class="content">
			<h1>Devis sur mesure</h1>

			<div class="call-to-action">
				<div class="description">
					<h2>Veuillez remplir ce formulaire</h2>
					<form id="nous-contacter">
						<div class="infos">
							<input class="half" type="text" name="nom" placeholder="Nom">
							<input class="half" type="text" name="prenom" placeholder="Prénom">
							<input class="half" type="email" name="email" placeholder="Email">
							<input class="half" type="phone" name="tel" placeholder="Téléphone">
							<input class="half" type="text" name="code-postal-livraison" placeholder="Code postal">
							<input class="half" type="text" name="ville-livraison" placeholder="Ville">
							<textarea name="message" placeholder="Vos besoins et votre message ici..."></textarea>
							<div class="fichier-joindre">
								<label class="btn verse"> 
									<input type="file" name="fichiers" placeholder="Ajoutez des fichiers">
									<i class="fas fa-upload"></i> Ajoutez des fichiers
								</label>
							</div>
							<div class="action">
								<input type="submit" name="submit" value="Envoyer" class="btn bg-btn">
							</div>
						</div>
					</form>
				</div>
				<div class="contact">
					<h2>Contact rapide</h2>
					<p>Aide &amp; Support</p>
					<p><a href="tel:0142069707"><i class="fa fa-phone-alt"></i> 01 42 06 97 07</a></p>
					<p><a href="mailto:hbconsultant@gmail.com" class="btn bg-btn">Nous contacter <i class="fas fa-envelope"></i></a></p>
					<p><a href="inscription.html" class="btn bg-btn inscription">Inscription<i class="fas fa-envelope"></i></a></p>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="widget">
			<ul>
				<li><a href="#!">Protection des données personnelles</a></li>
				<li><a href="#!">Mentions légales</a></li>
				<li><a href="#!">Conditions de vente</a></li>
			</ul>
		</div>
		<div class="widget">
			<ul>
				<li><a href="#!">Labellisé "imprim'Vert"</a></li>
				<li><a href="#!">F.A.Q</a></li>
				<li><a href="nous-contacter.html">Nous contacter</a></li>
			</ul>
		</div>
		<div class="widget paiement">
			<h4>Moyens de paiement</h4>
			<img src="images/paiement.png">
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script type="text/javascript" src="asset/script.js"></script>

</body>
</html>