<!DOCTYPE html>
<html lang="FR-fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<title>Envoi de vos fichiers & F.A.Q</title>
	<link rel="stylesheet" type="text/css" href="asset/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="asset/style.css">
	<link rel="icon" type="image/png" href="images/favico.png" sizes="32x32">
</head>
<body class="mon-compte">
	<header>
		<div class="logo">
			<a href="index.html"><img src="images/header_logo.svg"></a>
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="devis.html">Devis sur mesure</a></li>
				<li class="current"><a href="fichiers-faq.html">Envoi de vos fichiers & F.A.Q</a></li>
				<li><span>Aide &amp; Conseil? <a href="tel:01 42 06 90 02">01 42 06 90 02</a></span> <span>Du lundi au vendredi - 9h00 - 17h00</span></li>
			</ul>
			<ul>
				<li><a href="mon-compte.html"><i class="far fa-user"></i> <span>Mon compte</span></a></li>
				<li><a href="panier.html"><i class="fas fa-shopping-basket"></i> <span>Panier</span></a></li>
				<li><a href="https://par-tage.com/printing/new/backoffice/index.html" target="_blank" title="backoffice"><i class="fas fa-cogs"></i> <span>Panier</span></a></li>
			</ul>
		</nav>
		<div class="menu-toggle">
			<a href="#!">
				<i class="fas fa-bars"></i>
				<i class="fas fa-ellipsis-v"></i>
			</a>
		</div>
	</header>
	<section class="services">
		<div>
			<h2><a href="commande-plan.html">PLAN</a></h2>
		</div>
		<div>
			<h2><a href="commande-memoire-rapport.html">MÉMOIRE & RAPPORT</a></h2>
		</div>
		<div>
			<h2><a href="commande-prochure-livret.html">BROCHURE & LIVRET</a></h2>
		</div>
		<div>
			<h2><a href="commande-affiche.html">AFFICHE</a></h2>
		</div>
		<div>
			<h2><a href="commande-dossier-plan.html">DOSSIER DE PLANS</a></h2>
		</div>		
	</section>
	<main>
		<section class="content">
			<aside>
				<!-- <nav>
					<ul>
						<li><a class="vos-commandes current" href="#!">Mes commandes</a></li>
						<li><a class="messagerie" href="#!">Mes avoirs</a></li>
						<li><a class="mes-adresses" href="#!">Mes adresses</a></li>
						<li><a class="aides" href="#!">Mes informations personnelles</a></li>
					</ul>
				</nav> -->
				<img src="images/mon-compte.svg">
			</aside>
			<!-- <div class="content-target menu">
				<nav>
					<ul>
						<li>
							<a class="vos-commandes" href="#!">
								<span class="icone">
									<img src="images/compte_cmd.svg">
								</span>
								<span class="title">Vos commandes</span>
								<span class="desc">Suivre ou retourner mes commandes.</span>
							</a>
						</li>
						<li><a class="modes-paiement" href="#!">
								<span class="icone">
									<img src="images/compte_pai.svg">
								</span>
								
								<span class="title">Modes de paiement</span>
								<span class="desc">Gérer les modes de paiement et les paramètres.</span>
							</a>
						</li>
						<li><a class="mes-adresses" href="#!">
								<span class="icone">
									<img src="images/compte_adr.svg">
								</span>
								<span class="title">Mon Profil</span>
								<span class="desc">Modifier mes coordonnées et préférences.</span>
							</a>
						</li>
						<li>
							<a class="messagerie" href="#!">
								<span class="icone">
									<img src="images/compte_cox.svg">
								</span>
								
								<span class="title">Connexion & Sécurité</span>
								<span class="desc">Modifier l'adresse e-mail, le numéro de téléphone mobile.</span>
							</a>
						</li>
						<li>
							<a class="messagerie" href="#!">
								<span class="icone">
									<img src="images/compte_msg.svg">
								</span>
								<span class="title">Messagerie</span>
								<span class="desc">Consulter nos messages échnagés</span>
							</a>
						</li>
					</ul>
				</nav>
			</div> -->

			<div id="vos-fichers" class="content-target">
				<h2>Vos fichiers</h2>
				<table>
					<tr>
						<th class="designation">Nom de fichier</th>
						<th class="statut">Format</th>
						<th class="montant">Taille</th>
						<th class="actions">Action</th>
					</tr>
					<tr class="item">
						<td class="designation">Impression des cartes visites</td>
						<td class="statut">PDF</td>
						<td class="montant">1500 Ko</td>
						<td class="actions">
							<a class="edit" href="#!"><i class="fas fa-edit"></i></a>
							<a class="delete" href="#!"><i class="fas fa-trash-alt"></i></a>
							<a class="view" href="#!"><i class="fas fa-eye"></i></a>
						</td>
					</tr>
					<tr class="item">
						<td class="designation">Plan de projet centre ville</td>
						<td class="statut">PDF</td>
						<td class="montant">13200 Ko</td>
						<td class="actions">
							<a class="edit" href="#!"><i class="fas fa-edit"></i></a>
							<a class="delete" href="#!"><i class="fas fa-trash-alt"></i></a>
							<a class="view" href="#!"><i class="fas fa-eye"></i></a>
						</td>
					</tr>
					<tr class="item">
						<td class="designation">Carte de visite Google</td>
						<td class="statut">PDF</td>
						<td class="montant">6800 Ko</td>
						<td class="actions">
							<a class="edit" href="#!"><i class="fas fa-edit"></i></a>
							<a class="delete" href="#!"><i class="fas fa-trash-alt"></i></a>
							<a class="view" href="#!"><i class="fas fa-eye"></i></a>
						</td>
					</tr>
				</table>
			</div>

			<div id="aides" class="content-target">
				<!-- <h2>Mes informations personnelle</h2>
				<p><strong>Civilité:</strong> Monsieur</p>
				<p><strong>Nom:</strong> TEST</p>
				<p><strong>Prénom:</strong> Client</p>
				<div class="separator"></div>
				<p><strong>Téléphone:</strong> (+33) 01 23 45 67 89</p>
				<p><strong>Email:</strong> test-client@mail.me</p>
				<div class="separator"></div>
				<p><strong>Mot de passe:</strong> ******</p>
				<a href="#!"><i class="fas fa-edit"></i>Changer mes infos</a> -->
				<h2>FAQ & Aide</h2>
				<div class="ques-wrapper opned">
					<div class="ques"><span class="fas fa-question-circle"></span> Question A</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>

				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question B</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question C</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question D</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question E</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question F</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
				<div class="ques-wrapper">
					<div class="ques"><span class="fas fa-question-circle"></span> Question G</div>
					<div class="rep"><p>Suspendisse eu ligula. Duis lobortis massa imperdiet quam. In turpis. Sed aliquam ultrices mauris. Praesent adipiscing.</p>

					<p>Duis vel nibh at velit scelerisque suscipit. Morbi ac felis. Nullam accumsan lorem in dui. Praesent nonummy mi in odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>

					<p>Duis leo. Quisque malesuada placerat nisl. Nam adipiscing. Vivamus consectetuer hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>

					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras dapibus. Phasellus gravida semper nisi. Vivamus in erat ut urna cursus vestibulum. Fusce vulputate eleifend sapien.</p>

					<p>Praesent egestas tristique nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Phasellus gravida semper nisi. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum dapibus nunc ac augue.</p>
					</div>
				</div>
			</div>
			<div class="retour hide">
				<a href="" class="btn"><i class="fas fa-arrow-left"></i> Retour</a>
			</div>	
		</section>
		
	</main>
	<footer>
		<div class="widget">
			<ul>
				<li><a href="#!">Protection des données personnelles</a></li>
				<li><a href="#!">Mentions légales</a></li>
				<li><a href="#!">Conditions de vente</a></li>
			</ul>
		</div>
		<div class="widget">
			<ul>
				<li><a href="#!">Labellisé "imprim'Vert"</a></li>
				<li><a href="#!">F.A.Q</a></li>
				<li><a href="nous-contacter.html">Nous contacter</a></li>
			</ul>
		</div>
		<div class="widget paiement">
			<h4>Moyens de paiement</h4>
			<img src="images/paiement.png">
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script type="text/javascript" src="asset/script.js"></script>

	<script type="text/javascript">
		jQuery(document).ready( function($){
			$('.vos-commandes').click( function(){
				$('aside li a').removeClass('current');
				$(this).addClass('current');
				$('.content-target').addClass('hide');
				$('#vos-commandes').removeClass('hide');
			});
			$('.messagerie').click( function(){
				$('aside li a').removeClass('current');
				$(this).addClass('current');
				$('.content-target').addClass('hide');
				$('#messagerie').removeClass('hide');
			});
			$('.mes-adresses').click( function(){
				$('aside li a').removeClass('current');
				$(this).addClass('current');
				$('.content-target').addClass('hide');
				$('#mes-adresses').removeClass('hide');
			});
			$('.aides').click( function(){
				$('aside li a').removeClass('current');
				$(this).addClass('current');
				$('.content-target').addClass('hide');
				$('#aides').removeClass('hide');
			});
			$('.modes-paiement').click( function(){
				$('aside li a').removeClass('current');
				$(this).addClass('current');
				$('.content-target').addClass('hide');
				$('#modes-paiement').removeClass('hide');
			});
			$('.content-target nav ul li').click( function(){
				$('.retour').removeClass('hide');
				$('.content-target.menu').addClass('hide');
			});
			$('.retour').click( function(){
				$(this).addClass('hide');
				$('.content-target.menu').removeClass('hide');
			});
		});
	</script>
</body>
</html>